#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(20, 20, 65);
}


.card {
  padding: .5em;
}



.text_{
  display: -webkit-box;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: normal;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
